*{
  margin: 0;
  padding: 0;
}
#navbar{
  background-color: rgb(0, 0, 0);
  height: 88px;
}
#logo{
  margin-left: 110px;
}
.link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
span{
  color: white;
  margin-left: 2px;
  font-size: 25px;
}
.btn{
  
  padding: 6px 22px;
  font-size: 25px;
}
#Submit{
  color: white;
  border-radius: 5px;
  border-color: white;
  background-color: rgb(74, 72, 72);
  margin-left: 450px;
  margin-top: 18px;
}
#signin{
  font-size: 28px;
  font-weight: 500;
  font-family: "GT America Standard";
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: #4C5FD5;
  border: none;
}
footer{
  background-color: yellow;
}
#Search_bar{
  margin-top: 9px;
  margin-bottom: 10px;
  margin-left: 43.5%;
}
h2{
  text-align: center;
  text-decoration: none;
}


