body{
  margin: 0;
}
header{
  background-color: pink;
}
.div{
  padding: 50px;
}
.leftside{
  /* padding: 50px; */
  padding-top: 50px;
}
body{
  background-color: aqua;
}
footer{
  background-color: yellow;
}