body{
  margin: 0;
}
header{
  background-color: pink;
}
#navbar{
  position: relative;
  padding: 1rem;
  justify-content: space-between;
}
.leftside{
  text-decoration: none;
}
.rightside{
  text-align: right;
}
body{
  background-color: aqua;
  text-align: center;
}
footer{
  background-color: yellow;
}
h2{
  text-align: center;
  text-decoration: none;
}
.Search_bar{
  position: relative;
  padding: 1rem 1rem;
}
.Search_bar{
  margin-right: 0px;
  margin-left: 0px;
  max-width: 720px;
}
